*.exe
*.aux
*.lof
*.log
*.fmt
*.app
*.gch
*.pch
*.slo
*.d
*.lo
*.o
*.obj
*.dll
*.so
*.lib

.cph/
.idea/
.vs/
.vscode/
*.code-workspace
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
